body,
html {
    margin: 0;
    padding: 0;
    background-color: #eee;
    position: fixed;
}

* {
    box-sizing: border-box;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.nav {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 0.5rem;
    background-color: rgba(169, 169, 169, 0.6);

}

.nav a {
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    
}

#stats:hover {
    color: #17408b;
    font-weight: 200;
    transform: scale(1.5);
    transform: rotate(360deg);
    transition: 2s;
}
#champ:hover {
    color: #17408b;
    font-weight: 200;
    transform: scale(1.5);
    transform: rotate(360deg);
    transition: 2s;
}

#stats, #champ{
    font-size: 20px;
    font-weight: 500;
    transition: 1s;
}